#carousel{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30,40,50);
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.manual_scroll{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual_btn{
    border: 2px solid rgb(255, 3, 3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child){
    margin-right: 40px;
}

.manual_btn:hover{
    background: yellow;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

.auto_scroll{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.auto_scroll div{
    border: 2px solid rgb(255, 3, 3);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto_scroll div:not(:last-child){
    margin-right: 40px
}

#radio1:checked ~.auto_scroll .auto_btn1{
    background: rgb(30,40,50);
}
#radio2:checked ~.auto_scroll .auto_btn2{
    background: rgb(30,40,50);
}
#radio3:checked ~.auto_scroll .auto_btn3{
    background: rgb(30,40,50);
}
#radio4:checked ~.auto_scroll .auto_btn4{
    background: rgb(30,40,50);
}
#radio5:checked ~.auto_scroll .auto_btn5{
    background: rgb(30,40,50);
}
#radio6:checked ~.auto_scroll .auto_btn6{
    background: rgb(30,40,50);
}