body{
    background-color: rgb(30, 40, 50);
}
div#content div{
    display: inline-block;
    width: 48%;
}

div#content div.left{
    background-color: green;
    vertical-align: top;
}

div#content div.right{
    background-color: yellow;
    vertical-align: top;

}

div#title h1{
    margin-top: 150px;
    font-size: 100px;
    font-family:  name;
    position: relative;
    text-align: center;
    color: rgb(245, 245, 245);
}

div#title h3{
    font-family: test;
    position: relative;
    text-align: center;
    color: rgb(191, 191, 191);
}

#photo .back{
    border-radius: 50%;
    display: block;
    margin: 0px auto;
}

header{
    color: white;
    background-color: #000000;
}
nav.menu_nav {
    text-align: center;
}
nav.menu_nav ul li.button{
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

nav.menu_nav ul li.button a{
    color: rgb(255, 255, 255);
    background-color: rgb(252, 0, 0);
    text-decoration: none;
    overflow: visible;
    padding: 7px;
}

nav.menu_nav ul li.button:hover a {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

#site-footer div.copyright {
    text-align: center;
    font-style: italic;
    color:rgb(71, 71, 71);
    font-size: 12px;
}

#site-footer li{
    display: inline-block;
    list-style: none;
}
#site-footer ul{
    display: block;
    text-align: center;
}