body{
    background-color: rgb(30, 40, 50);
}

header{
    position: sticky;
    top: 0;
    color: white;
    background-color: #000000;
}
nav.menu_nav {
    text-align: center;
}
nav.menu_nav ul li.button{
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

nav.menu_nav ul li.button a{
    color: rgb(255, 255, 255);
    background-color: rgb(252, 0, 0);
    text-decoration: none;
    overflow: visible;
    padding: 7px;
}

nav.menu_nav ul li.button:hover a {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

#photo .back{
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    margin-top: 100px;
}

#photo p{
    font-size: 10px;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-bottom: 75px;
}

div#about_me p{
    text-align: center;
    color: rgb(255, 255, 255);
}

#site-footer {
    text-align: center;

}

#site-footer div.copyright {
    text-align: center;
    color:rgb(71, 71, 71);
    font-size: 12px;

}

#site-footer li{
    display: inline-block;
    list-style: none;
}
